:root {
                /* 基础颜色变量 */
	--dark-color-1: 165, 160, 155;
	--dark-color-2: 122, 109, 82;
	--dark-color-3: 161, 147, 112;
	--dark-color-5: 60, 56, 42;
	--dark-color-6: 77, 67, 54;
	--light-color-1: 252, 252, 252;
	--light-color-2: 252, 252, 252;
                /* 文字颜色变量 */
	--text-color: 31, 28, 20;
	--hover-link-color: var(--dark-color-3);
	--visited-link-color: var(--dark-color-2);
                /* 通用颜色变量 */
	--general-light-border-color: var(--dark-color-5), 0.28;
	--general-medium-border-color: var(--dark-color-5), 0.2;
	--general-strong-border-color: var(--dark-color-5), 0.5;
	--general-dark-border-color: var(--text-color);
	--general-dark-background-color: var(--dark-color-5);
	--sidebar-title-background-color: var(--dark-color-3);
                /* 部分需要修改的颜色变量 */
	--license-text-color: var(--light-color-1);
	--sidebar-handle-background-color: var(--dark-color-2);
	--tabview-selected-button-background-color: var(--dark-color-3);
	--license-background-color: var(--dark-color-5);
	--dark-styled-quote-background-color: var(--dark-color-6);
                /* 版头背景变量 */
	--gradient-header: linear-gradient(to bottom, transparent, rgb(var(--dark-color-3)) 0%, rgb(var(--dark-color-6)) 100%);
	--gradient-background: linear-gradient(to bottom, rgb(var(--swatch-background)), rgb(var(--swatch-background)));
	--gradient-topmenu: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) var(--main-header-height), rgb(var(--swatch-topmenu-border-color)) var(--main-header-height), rgb(var(--swatch-topmenu-bg-color)) calc(var(--main-header-height) + .125rem), rgb(var(--swatch-topmenu-bg-color)) calc(100% - .125rem), rgb(var(--swatch-topmenu-border-color)) 100%);
                /* 版头Mask变量 */
	--wallpaper-mask: url(data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22windows-1252%22%20standalone%3D%22no%22%3F%3E%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xml%3Aspace%3D%22preserve%22%20width%3D%22106.667%22%20height%3D%22154.667%22%3E%3Cpath%20d%3D%22M72.547%201158.57H5.074V-6.465h67.473V1158.57M119.027%20710.25v-58.977l126.95%20154.438L363.43%20654.77v61.476L246.477%20865.688%20119.027%20710.25%22%20style%3D%22fill%3A%23333%3Bfill-opacity%3A1%3Bfill-rule%3Anonzero%3Bstroke%3Anone%22%20transform%3D%22matrix%28.13305%200%200%20-.13255%20-.633%20153.92%29%22%2F%3E%3Cpath%20d%3D%22M119.027%20951.652V790.715l125.45%20153.441L363.43%20792.715v166.933L247.477%201108.09l-128.45-156.438M763.27%201158.57h-63.473l63.473-80.97ZM472.387%201158.57h-67.473V-6.465h67.473V1158.57M518.867%20995.133v-58.977L645.816%201090.6%20763.27%20939.656v61.474l-116.954%20149.44-127.449-155.437M763.27%20657.27%20647.316%20805.711%20518.867%20649.273V488.336l125.449%20153.441L763.27%20490.336V657.27M518.867%201158.57v-82.97l67.973%2082.97z%22%20style%3D%22fill%3A%23333%3Bfill-opacity%3A1%3Bfill-rule%3Anonzero%3Bstroke%3Anone%22%20transform%3D%22matrix%28.13305%200%200%20-.13255%20-.633%20153.92%29%22%2F%3E%3Cpath%20d%3D%22M763.27%20413.867%20646.316%20563.309%20518.867%20407.867v-58.972l126.949%20154.437L763.27%20352.391v61.476M363.43%20128.98%20246.477%20278.422l-127.45-155.438V64.008l126.95%20154.437L363.43%2067.504v61.476%22%20style%3D%22fill%3A%23333%3Bfill-opacity%3A1%3Bfill-rule%3Anonzero%3Bstroke%3Anone%22%20transform%3D%22matrix%28.13305%200%200%20-.13255%20-.633%20153.92%29%22%2F%3E%3Cpath%20d%3D%22M363.43%20205.449v166.934L247.477%20520.824l-128.45-156.437V203.449l125.45%20153.442L363.43%20205.449M518.867%2071.504V-6.465h67.973l57.476%2070.473%2055.481-70.473h63.473V79.5L647.316%20227.941%20518.867%2071.504%22%20style%3D%22fill%3A%23333%3Bfill-opacity%3A1%3Bfill-rule%3Anonzero%3Bstroke%3Anone%22%20transform%3D%22matrix%28.13305%200%200%20-.13255%20-.633%20153.92%29%22%2F%3E%3C%2Fsvg%3E);
	--wallpaper-mask-size: 2.3rem;
}
/* 版头伪元素背景 */
#header::before {
	content: "";
	background-color: rgba(var(--swatch-topmenu-bg-color), 0.2);
	background-repeat: repeat;
	background-size: 0.25em 0.25em;
	width: 100%;
	height: var(--main-header-height);
	position: absolute;
	top: 0;
	left: 0;
	-webkit-mask-image: var(--wallpaper-mask);
	mask-image: var(--wallpaper-mask);
	-webkit-mask-repeat: repeat;
	mask-repeat: repeat;
	-webkit-mask-size: var(--wallpaper-mask-size);
	mask-size: var(--wallpaper-mask-size);
	-webkit-mask-position: center;
	mask-position: center;
                background: linear-gradient(to top, rgba(var(--swatch-topmenu-bg-color), 0) 0%, rgba(var(--swatch-topmenu-bg-color), 0.013) 5%, rgba(var(--swatch-topmenu-bg-color), 0.049) 10.1%, rgba(var(--swatch-topmenu-bg-color), 0.104) 15.2%, rgba(var(--swatch-topmenu-bg-color), 0.175) 20.5%, rgba(var(--swatch-topmenu-bg-color), 0.259) 25.9%, rgba(var(--swatch-topmenu-bg-color), 0.352) 31.6%, rgba(var(--swatch-topmenu-bg-color), 0.45) 37.5%, rgba(var(--swatch-topmenu-bg-color), 0.55) 43.8%, rgba(var(--swatch-topmenu-bg-color), 0.648) 50.4%, rgba(var(--swatch-topmenu-bg-color), 0.741) 57.4%, rgba(var(--swatch-topmenu-bg-color), 0.825) 64.9%, rgba(var(--swatch-topmenu-bg-color), 0.896) 72.8%, rgba(var(--swatch-topmenu-bg-color), 0.951) 81.3%, rgba(var(--swatch-topmenu-bg-color), 0.987) 90.3%, rgb(var(--swatch-topmenu-bg-color)) 100%);
}
/* 版头标题 */
#header h1 a span::before {
	text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.8);
	font-weight: 800;
}

#header h1 a span::after {
	text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.8);
}
/* 版头logo */
#header h2 span::before {
	opacity: .5;
	background-size: var(--logo-image-size, contain);
}
/* 版头背景 */
#header {
    background-image: var(--gradient-header), var(--gradient-topmenu), var(--gradient-background);	
}
/* 底栏宽度 */
div[id*=page-options-bottom]>a {
	padding: 0 1.25rem;
}
/* 顶栏动画 */
#header div[class*=top-bar]>ul>li>ul li>a:before {
    --clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    content: " ";
    z-index: -1;
    -webkit-transition: clip-path .2s ease-in-out;
    transition: clip-path .2s ease-in-out;
    opacity: 1;
    background-color: rgba(var(--dark-color-3));
    pointer-events: none;
    clip-path: var(--clip-path);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}
#header div[class*=top-bar]>ul>li>ul li>a:is(:hover,:active,:focus-within)::before {
    --clip-path: polygon(-15% 0, 115% 0, 100% 100%, 0 100%);
}
#top-bar div[class*=top-bar] > ul > li > ul > li > a:is(:hover, :active, :focus, :focus-within), #top-bar div[class*=top-bar] > ul > li > ul > li > ul > li > a:is(:hover, :active, :focus, :focus-within) {
    background: transparent;
}
/* tabview */
.yui-navset .yui-nav {
    background: rgba(var(--dark-color-2));
    -moz-column-gap: 4px;
    column-gap: 4px;
    box-shadow: 0 0.3125rem 0 rgba(var(--dark-color-2));
}
:is(.yui-navset,.yui-navset-top,.yui-navset-bottom) .yui-nav li a:before {
    --clip-path: polygon(0 calc(100% - 0.25rem), 100% calc(100% - 0.25rem), 100% 100%, 0 100%);
    width: 100%;
    height: 100%;
    left: 0;
    content: " ";
    z-index: 0;
    will-change: background-color, clip-path;
    -webkit-transition: background-color 50ms ease-in-out, clip-path .2s ease-in-out;
    transition: background-color 50ms ease-in-out, clip-path .2s ease-in-out;
    background-color: rgb(var(--dark-color-2));
    pointer-events: none;
    clip-path: var(--clip-path);
    position: absolute;
    top: 0;
    bottom: auto;
    right: auto;
}
:is(.yui-navset,.yui-navset-top,.yui-navset-bottom) .yui-nav li a em {
    -webkit-transition: color .15s var(--ease-in-out), font-weight .15s var(--ease-in-out), font-variation-settings .15s var(--ease-in-out), font-weight .15s var(--ease-in-out);
    transition: color .15s var(--ease-in-out), font-weight .15s var(--ease-in-out), font-variation-settings .15s var(--ease-in-out), font-weight .15s var(--ease-in-out);
    border: unset !important;
}
.yui-navset .yui-nav a:hover, .yui-navset .yui-nav a:focus {
    outline: inherit;
    background: inherit;
}

.yui-navset .yui-nav a:hover, .yui-navset .yui-nav a:focus {
    background: inherit;
    -webkit-text-decoration: inherit;
    -webkit-text-decoration: inherit;
    text-decoration: inherit;
}
:is(.yui-navset,.yui-navset-top,.yui-navset-bottom) .yui-nav li:not(.selected) a:is(:hover,:active,:focus,:focus-within):before {
    --clip-path: polygon(0 0, calc(100% + 1rem) -1rem, calc(100% + 1rem) calc(100% + 1rem), 0 calc(100% + 1rem));
    background-color: rgb(var(--tabs-hover-bg));
}
:is(.yui-navset, .yui-navset-top, .yui-navset-bottom) .yui-nav .selected {
    z-index: unset;
    box-shadow: none;
    translate: 0;
}
:is(.yui-navset,.yui-navset-top,.yui-navset-bottom) .yui-nav .selected a:before {
    --clip-path: polygon(0 0, calc(100% + 1rem) -1rem, calc(100% + 1rem) calc(100% + 1rem), 0 calc(100% + 1rem));
    background-color: rgb(var(--tabs-selected-bg));
}